{% extends 'base.html' %}
{% load static %}
{% block titulo %}INICIO{% endblock titulo %}

{% block contenido%}
<!-- Main News Slider Start -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-7 px-0">
			<div class="owl-carousel main-carousel position-relative">
				<!-- 4 Noticias Random -->
				{% for noti in noticias_random %}
				<div class="position-relative overflow-hidden" style="height: 500px;">
					<img class="img-fluid h-100" src="{{noti.imagen.url}}" style="object-fit: cover;">
					<div class="overlay">
						<div class="mb-2">
							<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
								href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
							<p class="date text-white">{{noti.fecha}}</a>
						</div>
						<a class="h2 m-0 text-white text-uppercase font-weight-bold"
							href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-5 px-0">
			<div class="row mx-0">
				<!-- 4 noticias de una misma categoría -->
				{% for noti in noticias_categoria_1 %}
				<div class="col-md-6 px-0">
					<div class="position-relative overflow-hidden" style="height: 250px;">
						<img class="img-fluid w-100 h-100" src="{{noti.imagen.url}}" style="object-fit: cover;">
						<div class="overlay">
							<div class="mb-2">
								<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
									href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
								<p class="date text-white"><small>{{noti.fecha}}</small></p>
							</div>
							<a class="title-length h6 m-0 text-white text-uppercase font-weight-semi-bold"
								href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Main News Slider End -->


<!-- Breaking News Start -->
<div class="container-fluid bg-dark py-3 mb-3">
	<div class="container">
		<div class="row align-items-center bg-dark">
			<div class="col-12">
				<div class="d-flex justify-content-between">
					<div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">
						Últimas Noticias</div>
					<div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
						style="width: calc(100% - 170px); padding-right: 90px;">
						<!-- max 3 noticias de última hora  -->
						{% for noti in ultimas_noticias %}
						<div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold"
								href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breaking News End -->


<!-- Featured News Slider Start -->
<div class="container-fluid pt-5 mb-3">
	<div class="container">
		<div class="section-title">
			<h4 class="m-0 text-uppercase font-weight-bold">Noticias Destacadas</h4>
		</div>
		<div class="owl-carousel news-carousel carousel-item-4 position-relative">
			<!-- max 6/8 noticias destacadas durante la semana -->
			{% for noti in noticias_destacadas %}
			<div class="position-relative overflow-hidden" style="height: 300px;">
				<img class="img-fluid h-100" src="{{noti.imagen.url}}" style="object-fit: cover;">
				<div class="overlay">
					<div class="mb-2">
						<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
							href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
						<p class="date text-white"><small>{{noti.fecha}}</small></p>
					</div>
					<a class="text-edition h6 m-0 text-white text-uppercase font-weight-semi-bold"
						href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- Featured News Slider End -->


<!-- News With Sidebar Start -->
<div class="container-fluid">
	<div class="container">
		<div style="flex-direction:column;align-items:center" class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h4 class="m-0 text-uppercase font-weight-bold">Todas las Noticias</h4>
							<a class="text-secondary font-weight-medium text-decoration-none"
								href="{% url 'noticias:todas' 1 0 %}">Ver Todas</a>
						</div>
					</div>
					<!-- 4 noticias random -->
					{% for noti in noticias_random %}
					<div class="col-lg-6">
						<div class="position-relative mb-3">
							<div class="container-img-random">
								<img class="resize-img img-fluid w-100 img-changes" src=" {{noti.imagen.url}}">
							</div>
							<div class="bg-white border border-top-0 p-4">
								<div class="mb-2">
									<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
										href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
									<p class="date text-body"><small>{{noti.fecha}}</small></p>
								</div>
								<a class="title-length h4 d-block mb-3 text-secondary text-uppercase font-weight-bold"
									href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
								<p class="m-0 text-length">{{noti.cuerpo}}</p>
							</div>
							<div class="d-flex justify-content-between bg-white border border-top-0 p-4">
								<div class="d-flex align-items-center">
								</div>
								<div class="d-flex align-items-center">
									<small class="ml-3"><i class="far fa-eye mr-2"></i>{{noti.views_total}}</small>
									<small class="ml-3"><i class="far fa-comment mr-2"></i>{{noti.comentarios}}</small>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-lg-6 col-lg-13">
						<!-- 4 noticias de una misma categoría -->
						{% for noti in noticias_categoria %}
						<div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
							<img class="img-fluid img-new-size" src="{{noti.imagen.url}}" alt="">
							<div
								class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
								<div class="mb-2">
									<a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
										href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
									<p class="date text-body" href=""><small>{{noti.fecha}}</small></p>
								</div>
								<a class="title-change-style h6 m-0 text-secondary text-uppercase font-weight-bold"
									href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
							</div>
						</div>
						{% endfor %}
					</div>

					<!-- 1 noticia random -->
					{% for noti in noticias|slice:":1" %}
					<div class="col-lg-12">
						<div class="row news-lg mx-0 mb-3">
							<div class="col-md-6 h-100 px-0">
								<img class="img-fluid h-100" src="{{noti.imagen.url}}" style="object-fit: cover;">
							</div>
							<div class="col-md-6 d-flex flex-column border bg-white h-100 px-0">
								<div class="mt-auto p-4">
									<div class="mb-2">
										<a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
											href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
										<p class="date text-body"><small>{{noti.fecha}}</small></a>
									</div>
									<a class="h4 text-secondary text-uppercase font-weight-bold text-title-style"
										href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
									<p class="m-0 text-length">{{noti.cuerpo}}</p>
								</div>
								<div style="padding-top:0.86rem !important; padding-bottom:0.86rem !important"
									class="d-flex justify-content-between bg-white border-top mt-auto p-4">
									<div class="d-flex align-items-center">
									</div>
									<div class="d-flex align-items-center">
										<small class="ml-3"><i class="far fa-eye mr-2"></i>{{noti.views_total}}</small>
										<small class="ml-3"><i
												class="far fa-comment mr-2"></i>{{noti.comentarios}}</small>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-lg-6 col-lg-13">
						{% for noti in noticias_categoria_2 %}
						<div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
							<img class="img-fluid img-new-size" src="{{noti.imagen.url}}" alt="">
							<div
								class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
								<div class="mb-2">
									<a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2"
										href="{% url 'noticias:todas' 1 noti.categoria_noticia.pk %}">{{noti.categoria_noticia}}</a>
									<p class="date text-body"><small>{{noti.fecha}}</small></p>
								</div>
								<a class="title-change-style h6 m-0 text-secondary text-uppercase font-weight-bold"
									href="{% url 'noticias:detalle' noti.pk %}">{{noti.titulo}}</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- News With Sidebar End -->
{% endblock contenido %}