{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<!-- Contact Start -->
<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div style="width: 100%; display:flex; justify-content:center;">
            <img style="max-width: 100vw;" src={% static 'img/flecha1.png' %} alt="">
        </div>
        <div class="about-us-first-border section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">¿Cómo Surgió?</h4>
        </div>
        <div class="about-us-info">
            <p>En la ciudad de Pcia. Roque Sáenz Peña se conforma en el año 2003 una Asociación Civil de padres con
                hijos con
                discapacidad y de la comunidad en general, con el objetivo de mejorar la calidad de vida de éstos.

                Esta Asociación Civil, denominada “Juntos en Acción” entre otros aspectos a fortalecer se plantea la
                necesidad de contar
                en la localidad con un servicio que capacite a los jóvenes con discapacidad en un oficio o puesto de
                trabajo
                desarrollando sus potencialidades, obteniendo así una herramienta que les amplíe las posibilidades
                de inserción laboral
                y social.

                Como antecedente de ello se puede mencionar la concreción del Centro de Capacitación Laboral como
                Proyecto Especial en
                el ámbito del Ministerio de Educación, Cultura, Ciencia y Tecnología de la Provincia. Para lo cual
                desde la Asociación
                se realizaron las gestiones administrativas, los contactos a nivel político y se puso a disposición
                los recursos
                materiales básicos para la puesta en marcha del servicio, teniendo como objetivo “Mejorar la calidad
                de formación de las
                personas con discapacidad especialmente a través del desarrollo de nuevas competencias y
                calificaciones profesionales”.
                El proyecto especial fue dado de baja el 29 de febrero por una Resolución de fecha 19 de marzo pero
                de alta el 1 de
                marzo hasta el 31 de diciembre de 2008.
                En entrevistas realizadas durante el año 2005-2006 y 2007 a jóvenes con discapacidad y sus familias,
                la mayoría
                manifiesta el interés por recibir una capacitación y una posterior inserción en el mercado laboral,
                como así también un
                sentimiento de discriminación al no poder lograr, por sus propios medios, que la comunidad les de la
                oportunidad de
                desempeñarse en un oficio o puesto de trabajo.

                Asimismo un alto porcentaje de padres de hijos con discapacidad, manifiesta entre sus expectativas
                la necesidad de que
                su hijo se inserte en el mercado laboral y la falta de un servicio que complemente la formación que
                brinda la Escuela de
                Educación Especial para que su hijo/a incorpore mediante las capacitaciones la mayor cantidad de
                herramientas posibles.
                En este contexto, el problema se origina en la demanda de integración social y laboral por parte de
                personas con
                discapacidad y la escasa oferta de servicios que tiendan a satisfacerla, por lo que constituye una
                necesidad la
                concreción de un servicio que contemple acciones orientadas a fortalecer las posibilidades de
                inserción social y
                laboral.

                Durante el año 2008 la Asociación gestionó y consiguió la habilitación, a partir del 02 de marzo de
                2009, de la UEGP Nº
                143 CENTRO DE FORMACION INTEGRAL. Actualmente su presidente es la Representante Legal de la UEGP.
            </p>
        </div>
        <div class="about-us-second-border section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Objetivos</h4>
        </div>
        <div class="about-us-info">
            <p>Apoyo, contención y asesoramiento, propiciando el involucramiento de las familias y la
                sensibilización de la comunidad.
                Creación de espacios priorizando actividades dentro de la recreación y capacitación laboral.
                Capacitar y luego lograr la inserción laboral, entre otros fines (la asociación creo la UEGP N°143
                Centro de Formación
                Integral para Personas con Discapacidad para alcanzar las metas planteadas, se viene trabajando a
                través de ella hace 10
                años y se continúa)</p>
        </div>
        <div class="about-us-third-border section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Misión y Visión</h4>
        </div>
        <div class="about-us-info">
            <p>los que formamos Juntos en Acción las personas con discapacidad son titulares de los mismos derechos
                fundamentales que
                el resto de los ciudadanos. Creemos en una concepción donde las personas con discapacidad poseen
                facultad para decidir
                sobre sus propias vidas, mientras su discapacidad no impida esto, en oposición a una concepción
                paternalista como la que
                rige aun en estos tiempos. las personas con discapacidad reclaman la igualdad de oportunidades y es
                nuestro deber
                ayudarlos a que lo puedan lograr.</p>
        </div>
        <div style="flex-direction: column; align-items: center;" class="row">
            <div class="col-lg-8">
                <div class="about-us-four-border section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Contactános</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <div class="mb-4">
                        <h6 class="text-uppercase font-weight-bold">Autoridades</h6>
                        <p class="mb-4"><b>Presidente:</b> Silva, Sandra<br>
                            <b>Tesorera:</b> Zarco, Gisela<br>
                            <b>Vocales:</b> Valenzuela, Lisa y Duca, Silvia<br>
                            <b>Revisores de cuenta:</b> Hernandez, Soledad y Secoff Alicia.
                        </p>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-map-marker-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Ubicación</h6>
                            </div>
                            <p class="m-0">DORREGO 490, Presidencia Roque Sáenz Peña, Chaco.</p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-envelope-open text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Correo eléctronico</h6>
                            </div>
                            <p class="m-0">uep143.sp.chaco@gmail.com <b><br>(correo de la UEP)</b><br>
                                sandraccpa@hotmail.com <b><br>(correo de la presidente)</b></p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="fa fa-phone-alt text-primary mr-2"></i>
                                <h6 class="font-weight-bold mb-0">Teléfono</h6>
                            </div>
                            <p class="m-0">3644733177 <b><br>(N° de la UEP)</b><br>
                                3644673583 <br><b>(N° de la presidente)</b></p>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="about-us-four-border section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Redes sociales</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                            style="background: #39569E;">
                            <i class="fab fa-facebook-f text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Fans</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                            style="background: #52AAF4;">
                            <i class="fab fa-twitter text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                            style="background: #0185AE;">
                            <i class="fab fa-linkedin-in text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Connects</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                            style="background: #C8359D;">
                            <i class="fab fa-instagram text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3"
                            style="background: #DC472E;">
                            <i class="fab fa-youtube text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Subscribers</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fab fa-vimeo-v text-center py-4 mr-3"
                                style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">12,345 Followers</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock contenido %}